.wrap {
  width: 1200px;
  margin: 0 auto;
}

/*** Clear dem floats */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
/* ## Typographical Elements
--------------------------------------------- */
body {
	background-color: #EEEFF7;
	color: #666;
	font-family: 'Avenir', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.625;
	letter-spacing: 0.5px;
}

a {
	color: #3498DB;
	text-decoration: none;
}

a:hover {
	color: #2980B9;
}

/* ## Headings
--------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Exo', sans-serif;
	line-height: 1.2;
	color: #2C3E50;
}

h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 16px; }
h6 { font-size: 16px; }

/* ## Buttons and Forms
--------------------------------------------- */
.button {
  background: rgba(255,255,255,0.5);
  border-radius: 10px;
  padding: 12.5px 25px;
  display: inline-block;
}

/* ## Header
--------------------------------------------- */
header {
  width: 100%;
  position: absolute;
}

.site-branding,
.main-navigation {
  width: auto;
  display: inline-block;
}

/* Site Branding */

/* Navigation */
.main-navigation {
  float: right;
}
.nav-menu li {
  padding: 7px 0 0 25px;
}

/* ## Front-Page
--------------------------------------------- */
/* Hero Section */
#hero {
  background: url('images/stardust.png');
  background-attachment: fixed;
}

.hero-section {
  padding: 200px 0 400px 0;
  text-align: center;
}

.hero-section h1,
.hero-section h3 {
  color: #EEEFF7;
}

.hero-section .button {
  margin-top: 25px;
}

/* About Section */
#about {
  position: relative;
  padding: 50px 0;
}

#about:before {
  content: "";
  position: absolute;
  background: url('images/moon.svg');
  top: -210px;
  left: 0;
  width: 100%;
  height: 244px;
}

.about-section .post {
  width: 33.3333%;
  float: left;
  padding: 25px;
}

/* Portfolio Section */
#portfolio {
  background-color: #444349;
  color: #EEEFF7;
}
.portfolio-section .post {
  width: 33.3333%;
  float: left;
  padding: 25px;
  background-color: #2A2C2B;
}

/* Members Section */
.members-section .post {
  width: 25%;
  float: left;
  padding: 25px;
}

/* ## Footer
--------------------------------------------- */


/* ## Media queries
--------------------------------------------- */
@media only screen and (max-width: 1200px) {
  .wrap {
    width: 100%;
  }
  .about-section .post,
  .portfolio-section .post,
  .members-section .post {
    width: 50%;
  }
}

@media only screen and (max-width: 800px) {
  .wrap,
  .about-section .post,
  .portfolio-section .post,
  .members-section .post {
    width: 100%;
  }
}
